/*---------------------------------
	IMPORTS
-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);

/*---------------------------------
	OVERRIDES
-----------------------------------*/
h1,h2,h3,h4,h5,h6{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

thead th,
tbody th{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
padding: 
}

button,
a.btn,
input[type="submit"],
input[type="reset"],
input[type="button"]{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

.menu{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

blockquote{
font-family: "Trebuchet Ms", arial, verdana, sans-serif;
}

/*---------------------------------
	LAYOUT
-----------------------------------*/
body{
margin:0;
padding:0;
color:#000;
background:#efefef url(css/img/grid.png) repeat center top;
font:normal 0.9em/150% 'Arimo', "Trebuchet MS", arial, verdana, sans-serif;
text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#wrap{
width:1200px;
background:#fff;
margin:30px auto 30px auto;
padding:0;
border:0px solid #ccc;
}

.menu{
margin:-1px -1px -3px -1px;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

footer{
text-align:center;
padding:20px;
margin:0;
background:#efefef;
border-top:1px solid #ccc;
color:#999;
font-size:0.8em;
text-shadow:0px 1px 1px #fff;
position: relative;
top:0;
left:0;
}

#link-top{
position: absolute;
top:10px;
right:10px;
*right:25px;/*IE 7 ONLY*/
left:auto;
color:#666;
text-decoration:none;
display: inline-block;
padding:5px 10px;
background:#e5e5e5;
line-height:100%;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
}

nav {
    text-align: left;
    position: relative;
    top: 0px;
    left: 0px;
}

nav form {
    position: absolute;
    top: 20%;
    right: 8px;
    left: auto;
    z-index: 700;
}

#slogan {
    font-size: 1.3em;
    color: rgb(0, 0, 0);
    margin: 10px 0px 0px;
}

#logo {
    text-decoration: none;
    padding: 0px;
    position: relative;
    left: -7px;
}

#header {
    padding: 10px 0px 20px;
    margin: 0px auto;
    width: 960px;
    text-shadow: 0px 1px 1px rgb(255, 255, 255);
    position: relative;
    top: 0px;
    left: 0px;
    text-align: center;
}

#header h1 {
    display: none;
}

#header h2 {
    display: none;
}

/*---------------------------------
	CUSTOM
-----------------------------------*/
td.percentage:after {
    content: " %";
}

.box_rotate {
    float: left; 
    position: relative;
    width: 160px;
          transform: matrix(0, 1, -1, 0, -40, 0); 
     -moz-transform: matrix(0, 1, -1, 0, -40, 0);  /* FF3.5+ */
       -o-transform: matrix(0, 1, -1, 0, -40, 0);  /* Opera 10.5 */
  -webkit-transform: matrix(0, 1, -1, 0, -40, 0);  /* Saf3.1+, Chrome */
      -ms-transform: matrix(0, 1, -1, 0, -40, 0);  /* IE 9 */
}

.section {
    border-bottom:1px solid rgb(204, 204, 204);
}

.subsection {
    border-bottom:1px dotted rgb(204, 204, 204);
}

/*---------------------------------
	D3
-----------------------------------*/
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .2;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}
