<%inherit file="base_template.html" />
<%namespace name="lay" file="layout_components.html"/>
<%block name="title">${name}</%block>
<%block name="maincontentschema">itemtype="http://schema.org/Person" itemid="mp_${asciiname}.html"</%block>

<div class="col_12"><a href="${original_url}">Първоизточник</a></div>

<%lay:section header='Данни'>
    <div class="col_4">
        <p>Партийна група по време на изборите: ${party}.</p>
        % if party != party_now:
        <p>Но при последното гласуване е ${party_now}</p>
        % endif
        <p>Регистрации от началото на заседанията:</p>
        <ul class="alt">
            <% all_reg = sum(reg) %>            
            <li>Сесии на които е имал право да присъства: ${all_reg}</li>
            <li>Присъствия: ${100*reg[0]/all_reg}%</li>
            <li>Отсъствия: ${100*reg[1]/all_reg}%</li>
            <li>Ръчно дописани: ${100*reg[2]/all_reg}%</li>
        </ul>
    </div>
    <div class="col_4">
        <p>Гласове (в скоби са процентите без да се броят отсъствията):</p>
        <ul class="alt">
            <% all_vote = sum(vote) %>
            <% all_vote_no_abs = sum(vote[:3]) %>
            <li>Гласове които е имал право да даде: ${all_vote}</li>
            % if all_vote:
            <li>Отсъствия: ${100*vote[3]/all_vote}%</li>
            % endif
            % if all_vote_no_abs:
            <li>Съгласие с мнозинството: ${100*with_against_a[0]/all_vote}%
                                         (${100*with_against_a[0]/all_vote_no_abs}%)</li>
            <li>Противоречие на мнозинството: ${100*with_against_a[1]/all_vote}%
                                              (${100*with_against_a[1]/all_vote_no_abs}%)</li>
            <li>Съгласие с партията: ${100*with_against_p[0]/all_vote}%
                                     (${100*with_against_p[0]/all_vote_no_abs}%)</li>
            <li>Противоречие на партията: ${100*with_against_p[1]/all_vote}%
                                          (${100*with_against_p[1]/all_vote_no_abs}%)</li>
            <li>Въздържал се: ${100*vote[2]/all_vote}%
                              (${100*vote[2]/all_vote_no_abs}%)</li>
            % endif
        </ul>
    </div>
</%lay:section>

<%lay:section header='Гласове и отсъствия през годините'>
    <figure class="col_12">
        <img class="full-width" src="vote_evol_${asciiname}.png" alt="Гласове и отсъствия на ${name} през годините."/>
    </figure>
    <figure class="col_4">
        <img class="full-width tooltip" src="alltimeregs_${asciiname}.png" alt="Регистрации на ${name}."
        title="Регистрация: В началото на деня се провежда регистрация. Народни
        представители дошли твърде късно за регистрацията могат да бъдат записани
        ръчно. След регистрация като присъстващ, депутатът може да напусне залата и
        гласовете му ще бъдат регистрирани като отсъстващи. Това не променя статуса
        на началната регистрацията. За подобна информация погледнете следващата
        графика или графиките в списъка със стенограми."/>
    </figure>
    <figure class="col_4">
        <img class="full-width tooltip" src="alltimevotes_compare_all_${asciiname}.png" alt="Гласове на ${name} (сравнение с мнозинството)."
        title='Гласуване (сравнение с мнозинството): Всяко заседание включва голям брой точки, по които да се
        гласува. Освен "за", "против" и "въздържал се", народния представител може
        да бъде записан като "не гласувал", което се случва при отсъствие или
        просто липса на реакция.'/>
    </figure>
    <figure class="col_4">
        <img class="full-width tooltip" src="alltimevotes_compare_party_${asciiname}.png" alt="Гласове на ${name} (сравнение с позицията на партията)."
        title='Гласуване (сравнение с позицията на партията): Всяко заседание включва голям брой точки, по които да се
        гласува. Освен "за", "против" и "въздържал се", народния представител може
        да бъде записан като "не гласувал", което се случва при отсъствие или
        просто липса на реакция.'/>
    </figure>
</%lay:section>
