<%inherit file="base_template.html" />
<%namespace name="lay" file="layout_components.html"/>
<%block name="title">Народни Представители</%block>


<%lay:section header='Обща Информация'>
    <div class="col_6">
        <img class="full-width tooltip" src="alltimeregs.png" alt="Отсъствия на депутати по време на регистрация."
        title="Регистрация: В началото на деня се провежда регистрация. Народни
        представители дошли твърде късно за регистрацията могат да бъдат записани
        ръчно. След регистрация като присъстващ, депутатът може да напусне залата и
        гласовете му ще бъдат регистрирани като отсъстващи. Това не променя статуса
        на началната регистрацията. За подобна информация погледнете следващата
        графика или графиките в списъка със стенограми."/>
    </div>
    <div class="col_6">
        <img class="full-width tooltip" src="alltimevotes.png" alt="Гласове и отсъствия на депутати по време на гласувания."
        title='Гласуване: Всяко заседание включва голям брой точки, по които да се
        гласува. Освен "за", "против" и "въздържал се", народния представител може
        да бъде записан като "не гласувал", което се случва при отсъствие или
        просто липса на реакция.'/>
    </div>
</%lay:section>


<%lay:section header='Поименен Списък'>
    <table class="sortable tight striped">
        <thead><tr class="throtate">
            <th>Депутат</th>
            <th style="max-width:60px" class="tooltip"
                title="Партия по време на избори: Някои народни
                представители напускат партиите си през мандата. Тази графа
                показва с коя партия народния представител е бил избран.">
                <div>Партия по време на избори</div></th>
            <th style="max-width:60px" class="tooltip"
                title="Партия при най-скорошно гласуване: Някои народни
                представители напускат партиите си през мандата. Тази графа
                показва към коя партия е принадлежал народния представител
                при последното гласуване.">
                <div>Партия при най-скорошно гласуване</div></th>
            <th style="max-width:60px" class="tooltip"
                title="Брой участия в заседания: Общия брой на заседания, в
                които народният представител е има право да участва.
                Включва и отсъствията.">
                <div>Брой участия в заседания</div></th>
            <th style="max-width:60px" class="tooltip"
                title="Присъствия при регистрация: Частта от заседания, за
                които народният представител е регистриран като присъстващ.
                Тъй като регистрацията се прави в началото на деня,
                депутатът може да напусне заседанието след регистрация и да
                не бъде записан като отсъстващ. За отсъствия по време на
                гласуване погледнете последната колона.">
                <div>Присъствия при регистрация</div></th>
            <th style="max-width:60px" class="tooltip"
                title="Отсъствия при регистрация: Частта от заседания, за
                които народният представител е регистриран като
                отсъстващ.">
                <div>Отсъствия при регистрация</div></th>
            <th style="max-width:60px" class="tooltip"
                title="Ръчно записан при регистрация: Частта от заседания,
                при които народния представител не е присъствал в началото
                по време на регистрация, но е се е явил по-късно и е бил
                ръчно записан.">
                <div>Ръчно записан при регистрация</div></th>
            <th style="max-width:60px" class="tooltip"
                title='Гласове "за": От общия брой гласове, на които
                народният представител е имал право, частта които са
                "за".'>
                <div>Гласове "за"</div></th>
            <th style="max-width:60px" class="tooltip"
                title='Гласове "против": От общия брой гласове, на които
                народният представител е имал право, частта които са
                "против".'>
                <div>Гласове "против"</div></th>
            <th style="max-width:60px" class="tooltip"
                title='Гласове "въздържал се": От общия брой гласове, на
                които народният представител е имал право, частта които са
                "въздържал се".'>
                <div>Гласове "въздържал се"</div></th>
            <th style="max-width:60px" class="tooltip"
                title='Отсъствия при гласуване: От общия брой гласове, на
                които народният представител е имал право, частта от която
                не е реализирал.'>
                <div>Отсъствия при гласуване</div></th>
        </tr></thead>
        
        <tbody>
        % for mp, origp, withp, rpres, rabs, rman, vy, vn, vabst, vabs in name_orig_with_regs_votes:
            % if not withp:
                <% continue %>
            % endif
            <tr>
                <td>${mp}</td>
                <td>${origp}</td>
                <td>${withp}</td>
                <td>${rpres+rabs}</td>
                
                <% allreg = rpres+rabs+rman %>
                % if allreg:
                <td class="percentage">${100*rpres / allreg}</td>
                <td class="percentage">${100*rabs  / allreg}</td>
                <td class="percentage">${100*rman  / allreg}</td>
                % else:
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                % endif

                <% allvote = (vy+vn+vabst+vabs) %>
                % if allvote:
                <td class="percentage">${100*vy    / allvote}</td>
                <td class="percentage">${100*vn    / allvote}</td>
                <td class="percentage">${100*vabst / allvote}</td>
                <td class="percentage">${100*vabs  / allvote}</td>
                % else:
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                % endif
            </tr>
        % endfor
        </tbody>
    </table>
</%lay:section>
