<%inherit file="base_template.html" />
<%namespace name="lay" file="layout_components.html"/>
<%block name="title">Народни Представители</%block>
<% from pk_tools import unidecode %>


<%lay:section header='Обща Информация'>
    <figure class="col_6">
        <img class="full-width tooltip" src="alltimeregs.png" alt="Отсъствия на депутати по време на регистрация."
        title="Регистрация: В началото на деня се провежда регистрация. Народни
        представители дошли твърде късно за регистрацията могат да бъдат записани
        ръчно. След регистрация като присъстващ, депутатът може да напусне залата и
        гласовете му ще бъдат регистрирани като отсъстващи. Това не променя статуса
        на началната регистрацията. За подобна информация погледнете следващата
        графика или графиките в списъка със стенограми."/>
    </figure>
    <figure class="col_6">
        <img class="full-width tooltip" src="alltimevotes.png" alt="Гласове и отсъствия на депутати по време на гласувания."
        title='Гласуване: Всяко заседание включва голям брой точки, по които да се
        гласува. Освен "за", "против" и "въздържал се", народния представител може
        да бъде записан като "не гласувал", което се случва при отсъствие или
        просто липса на реакция.'/>
    </figure>
</%lay:section>


<%lay:section header='Поименен Списък'>
    <table class="sortable tight striped">
        <thead><tr class="throtate">
            <th>Депутат</th>
            <th style="max-width:40px" class="tooltip"
                title="Партия по време на избори: Някои народни
                представители напускат партиите си през мандата. Тази графа
                показва с коя партия народния представител е бил избран.">
                <div>Партия по време на избори</div></th>
            <th style="max-width:40px" class="tooltip"
                title="Партия при най-скорошно гласуване: Някои народни
                представители напускат партиите си през мандата. Тази графа
                показва към коя партия е принадлежал народния представител
                при последното гласуване.">
                <div>Партия при най-скорошно гласуване</div></th>
            <th style="max-width:40px" class="tooltip"
                title="Брой участия в заседания: Общия брой на заседания, в
                които народният представител е имал право да участва.
                Включва и отсъствията.">
                <div>Брой участия в заседания</div></th>
            <th style="max-width:40px" class="tooltip"
                title="Присъствия при регистрация: Частта от заседания, за
                които народният представител е регистриран като присъстващ.
                Тъй като регистрацията се прави в началото на деня,
                депутатът може да напусне заседанието след регистрация и да
                не бъде записан като отсъстващ. За отсъствия по време на
                гласуване погледнете последната колона.">
                <div>Присъствия при регистрация</div></th>
            <th style="max-width:40px" class="tooltip"
                title="Отсъствия при регистрация: Частта от заседания, за
                които народният представител е регистриран като
                отсъстващ. Тъй като регистрацията се прави в началото на деня,
                депутатът може да напусне заседанието след регистрация и да
                не бъде записан като отсъстващ. За отсъствия по време на
                гласуване погледнете последната колона.">
                <div>Отсъствия при регистрация</div></th>
            <th style="max-width:40px" class="tooltip"
                title="Ръчно записан при регистрация: Частта от заседания,
                при които народния представител не е присъствал в началото
                по време на регистрация, но е се е явил по-късно и е бил
                ръчно записан. Тъй като регистрацията се прави в началото на деня,
                депутатът може да напусне заседанието след регистрация и да
                не бъде записан като отсъстващ. За отсъствия по време на
                гласуване погледнете последната колона.">
                <div>Ръчно записан при регистрация</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Съгласие с мнозинството: От всички гласове,
                които народният представител е дал, каква част са в съгласие
                с мнозинството.'>
                <div>Съгласие с мнозинството</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Противоречие с мнозинството: От всички гласове,
                които народният представител е дал, каква част противоречат
                на мнозинството.'>
                <div>Противоречие с мнозинството</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Съгласие с парламентарната група: От всички гласове,
                които народният представител е дал, каква част са в съгласие
                с парламентарната му група.'>
                <div>Съгласие с парламенарната група</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Противоречие с парламентарната група: От всички гласове,
                които народният представител е дал, каква част противоречат
                на парламентарната му група.'>
                <div>Противоречие с парламентарната група</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Гласове "въздържал се": От общия брой гласове,
                които народният представител е дал, частта която е
                "въздържал се".'>
                <div>Гласове "въздържал се"</div></th>
            <th style="max-width:40px" class="tooltip"
                title='Отсъствия при гласуване: От общия брой гласове, на
                които народният представител е имал право, частта която
                не е реализирал поради отсъствие.'>
                <div>Отсъствия при гласуване</div></th>
        </tr></thead>
        
        <tbody>
        % for mp_i, (mp, origp, withp, orig_url) in enumerate(mps):
            <% rpres, rabs, rman = mps_all_reg[mp_i] %>
            <% vy, vn, vabst, vabs = mps_all_vote[mp_i] %>
            <% wa, aa = mps_all_with_against_all[mp_i] %>
            <% wp, ap = mps_all_with_against_party[mp_i] %>
            % if not withp:
                <% continue %>
            % endif
            <tr>
                <td><a href="mp_${unidecode(mp).replace(' ', '_').lower()}.html">${mp}</a></td>
                <td>${origp}</td>
                <td>${withp}</td>
                <td>${rpres+rabs}</td>
                
                <% allreg = rpres+rabs+rman %>
                % if allreg:
                <td class="percentage">${100*rpres / allreg}</td>
                <td class="percentage">${100*rabs  / allreg}</td>
                <td class="percentage">${100*rman  / allreg}</td>
                % else:
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                <td class="percentage">0</td>
                % endif

                <% allvote_noabs = (vy+vn+vabst) %>
                % if allvote_noabs:
                <td class="percentage">${100*wa    / allvote_noabs}</td>
                <td class="percentage">${'%.1f' % (100.*aa/allvote_noabs)}</td>
                <td class="percentage">${100*wp    / allvote_noabs}</td>
                <td class="percentage">${'%.1f' % (100.*ap/allvote_noabs)}</td>
                <td class="percentage">${100*vabst / allvote_noabs}</td>
                % else:
                <td class="percentage">0</td>
                <td class="percentage">0.0</td>
                <td class="percentage">0</td>
                <td class="percentage">0.0</td>
                <td class="percentage">0</td>
                % endif

                <% allvote = (allvote_noabs+vabs) %>
                % if allvote_noabs:
                <td class="percentage">${100*vabs/allvote}</td>
                % else:
                <td class="percentage">0</td>
                % endif
            </tr>
        % endfor
        </tbody>
    </table>
</%lay:section>
