<%include file="header.html" />


<!-- ##################################################################### -->
<!-- ##################################################################### -->
<h1>Стенограма от ${stenogram_date.strftime('%d/%m/%Y')}</h1>

<hr class="alt1" />

% if problem:
<div class="col_12">
<p>Имаше проблем при обработката на данните за тази стенограма. Вероятно официалния сайт на парламента предоставя повредени или непълни данни причинявайки тази грешка.</p>
</div>
<%include file="footer.html" />
<% return %>
% else:
    

<!-- ##################################################################### -->
<!-- ##################################################################### -->
<h2>Регистрация</h2>

<div class="col_12">
<a href="stenogram${stenogram_date.strftime('%Y%m%d')}registration.html">Поимемен списък</a>
</div>

<div class="col_6">
<table class="sortable">
    <thead><tr>
        <th>Партия</th>
        <th>Присъстващи</th>
        <th>Отсъстващи</th>
        <th>Отсъстващи %</th>
        <th>Общо Регистрирани</th>
    </tr></thead>
    
    <tbody>
    % for party, present, expected in zip(party_names, reg_presences, reg_expected):
        <tr>
            <td>${party}</td>
            <td>${present}</td>
            <td>${expected-present}</td>
            <td class="percentage">${100*(expected-present)/expected}</td>
            <td>${expected}</td>
        </tr>
    % endfor
    </tbody>
</table>
<p><strong>Всички Партии</strong>: Присъстващи: ${sum(reg_presences)}, Общо регистрирани: ${sum(reg_expected)}</p>
</div>

<div class="col_6">
    <img class="full-width" src="registration${stenogram_date.strftime('%Y%m%d')}.png" alt="Регистрирани и отсъстващи депутати."/>
</div>

<hr class="alt1" />


<!-- ##################################################################### -->
<!-- ##################################################################### -->
<h2>Гласувания</h2>

% if votes_by_session_type_party is not None:
<div class="col_6">
<h3>Съдържание</h3>
    <p>
    Отиди директно на гласуване номер: <br />
    ${', '.join(['<a href="#vote%d"><span class="tooltip-bottom" title="%s">%d</span></a>'%(i+1, description, i+1) for i, description in enumerate(vote_descriptions)])}
    </p>
</div>
<div class="col_6">
<img class="full-width" src="absences${stenogram_date.strftime('%Y%m%d')}.png" alt="Отсъствия на депутати."/>
</div>

<div class="col_12 "id="sessions">

% for i, (description, votes_by_type_party) in enumerate(zip(vote_descriptions, votes_by_session_type_party)):
    % if i:
        <hr />
    % endif

    <h3 id="vote${i+1}"><a href="#vote${i+1}">Гласуване ${i+1}</a></h3>

    <div class="col_12">
    <a href="stenogram${stenogram_date.strftime('%Y%m%d')}vote${i+1}.html">Поимемен списък</a>
    </div>

    <div class="col_6"><blockquote>${description}</blockquote></div>
    <div class="col_6"><img class="full-width" src="session${stenogram_date.strftime('%Y%m%d')}votes${i+1}.png" alt="Гласували и отсъстващи депутати."/></div>

    <div class="col_12">
        <button class="small" id="showSession${i+1}" onClick="toggle('session${i+1}','showSession${i+1}','Покажи таблица', 'Скрий');" >Покажи таблица</button>
        <a class="small" href="#votesInText${i+1}">Намери в текста</a>
    </div>
    <div class="col_12" id="session${i+1}" style="display: none;">

    <table class="sortable">
        <thead><tr>
            <th>Партия</th>
            <th>За</th>
            <th>Против</th>
            <th>Въздържали се</th>
            <th>Общо Гласували</th>
            <th>Не Гласували</th>
        </tr></thead>

        <tbody>
        % for party, (yes, no, abstained, absences) in zip(party_names, zip(*votes_by_type_party)):
            <tr>
                <td>${party}</td>
                <td>${yes}</td>
                <td>${no}</td>
                <td>${abstained}</td>
                <td>${yes+no+abstained}</td>
                <td>${absences}</td>
            </tr>
        % endfor
        </tbody>
    </table>

    <% total = map(sum, votes_by_type_party) %>
    <p><strong>Всички Партии</strong>: За: ${total[0]}, Против: ${total[1]}, Въздържали се: ${total[2]}, Общо Гласували: ${sum(total[:-1])}</p>
    </div>

% endfor
</div>
% else:
<div class="col_12">
<p>На тази дата не е имало гласувания.</p>
</div>
% endif

<hr class="alt1" />

% endif
<!-- ##################################################################### -->
<!-- ##################################################################### -->
<h2>Пълен Текст</h2>

<p>
<% count = 1 %>
% for i, line in enumerate(text):
    % if i in vote_line_nb:
        <strong id="votesInText${count}">${line}</strong>
        <% count += 1 %>
    % else:
        ${line}
    % endif
    <br />
% endfor
</p>


<%include file="footer.html" />
