<%inherit file="base_template.html" />
<%block name="title">Стенограми на Народните Събрания</%block>
<%block name="webpageschema">itemtype="http://schema.org/CollectionPage"</%block>
<% month_names = [u'Януари', u'Февруари', u'Март', u'Април', u'Май', u'Юни', u'Юли', u'Август', u'Септември', u'Октомври', u'Ноември', u'Декември'] %>

<div class="col_12">
<ul class="button-bar">
    % for y in years:
    <li><a href="stenograms${y}all.html">${y}</a></li>
    % endfor
    <li><a href="stenogramsallall.html">Всички години</a></li>
</ul>
</div>

<div class="col_12">
<ul class="button-bar">
    % for m in months:
    <li><a href="stenograms${current_y}${m}.html">${month_names[m-1]}</a></li>
    % endfor
    <li><a href="stenograms${current_y}all.html">Всички месеци</a></li>
</ul>
</div>

<div class="col_12">
<table class="striped">
    <col width="10%">
    <col width="90%">
    <thead><tr>
        <th>Дата</th>
        <% array_str = "['"+"', '".join(['sessionDescription'+date.strftime('%Y%m%d') for date in stenogram_mgroup])+"']" %>
        <th>Гласувания <button class="small" id="showMoreInfo" onClick="toggle_array(${array_str}, 'showMoreInfo', 'покажи', 'скрий')">покажи</button></th>
    </tr></thead>
    <tbody>
        % for date in stenogram_mgroup:
        <tr itemscope itemtype="http://schema.org/Event" itemid="stenogram${date.strftime('%Y%m%d')}.html">
        <td valign="top">
            <a itemprop="url" href="stenogram${date.strftime('%Y%m%d')}.html">
            <time itemprop="startDate" datetime="${date.strftime('%Y-%m-%d')}">
                ${date.strftime('%d/%m/%Y')}
            </time>
            </a>
        </td>
        <td>
            <div id="sessionDescription${date.strftime('%Y%m%d')}" style="display: none;">
            <ul class="alt">
                % for description in stenograms[date]:
                <li>${description.split(u'по тема ')[-1]}</li>
                % endfor
            </ul></div>
        </td>
        </tr>
        % endfor
    </tbody>
</table>
</div>

<script type="text/javascript" src="js/toggle.js"></script>
