<%inherit file="base_template.html" />
<%namespace name="lay" file="layout_components.html"/>
<%block name="title">Стенограма от ${stenogram_date.strftime('%d/%m/%Y')}</%block>
<%block name="main_text_header">Сесия на Народното Събрание <time itemprop="startDate" datetime="${stenogram_date.strftime('%Y-%m-%d')}">${stenogram_date.strftime('%d/%m/%Y')}</time></%block>
<%block name="maincontentschema">itemtype="http://schema.org/Event" itemid="stenogram${stenogram_date.strftime('%Y%m%d')}.html"</%block>

<div class="col_12"><a href="${original_url}">Първоизточник</a></div>

% if problem:
    <p>Имаше проблем при обработката на данните за тази стенограма. Вероятно
    официалния сайт на парламента предоставя повредени или непълни данни
    причинявайки тази грешка. <a href="${original_url}">От тук можете да го
    посетите за повече информация</a>.</p> 
    <% return %>
% endif


<% escaped_str=stenogram_date.strftime('%Y%m%d') %>

<%lay:section section_microdata='itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemid="stenogram${escaped_str}registration.html"'
              header='Регистрация'>
    <div class="col_12"><a itemprop="url" href="stenogram${stenogram_date.strftime('%Y%m%d')}registration.html">Поимемен списък.</a></div>
    ${lay.stenogram_registration_table()}
</%lay:section>


<%lay:section header='Гласувания'>
    % if votes_by_session_type_party is not None:
        <%lay:subsection header='Съдържание' width='6'>
            <p>
            Отиди директно на гласуване номер: <br />
            ${', '.join(['<a href="#vote%d"><span class="tooltip-bottom" title="%s">%d</span></a>'%(i+1, description, i+1) for i, description in enumerate(vote_descriptions)])}
            </p>
        </%lay:subsection>

        <figure class="col_6">
        <img class="full-width" src="absences${stenogram_date.strftime('%Y%m%d')}.png" alt="Отсъствия на депутати."/>
        </figure>

        <section class="col_12 " id="sessions">
        % for i, (description, votes_by_type_party) in enumerate(zip(vote_descriptions, votes_by_session_type_party)):
            <%lay:subsection section_microdata='itemprop="subEvent" itemscope itemtype="http://schema.org/Event" itemid="stenogram${escaped_str}vote${str(i+1)}.html"'
                             header_microdata='id="vote${str(i+1)}"'
                             header='<a href="#vote${str(i+1)}">Гласуване ${str(i+1)}</a>'>
                <div class="col_12">
                    <a itemprop="url" href="stenogram${stenogram_date.strftime('%Y%m%d')}vote${i+1}.html">Поимемен списък.</a>
                    <a class="small" href="#votesInText${i+1}">Намери в текста на стенограмата.</a>
                </div>

                <div class="col_6"><blockquote>${description}</blockquote></div>
                <figure class="col_6"><img class="full-width" src="session${stenogram_date.strftime('%Y%m%d')}votes${i+1}.png" alt="Гласували и отсъстващи депутати."/></figure>

                ${lay.stenogram_vote_table(i, votes_by_type_party)}
            </%lay:subsection>
        % endfor
        </section>
    % else:
        <div class="col_12"><p>На тази дата не е имало гласувания.</p></div>
    % endif
</%lay:section>


<%lay:section header='Пълен Текст'>
    <p>
    <% count = 1 %>
    % for i, line in enumerate(text):
        % if i in vote_line_nb:
            <strong id="votesInText${count}">${line}</strong>
            <% count += 1 %>
        % else:
            ${line}
        % endif
        <br />
    % endfor
    </p>
</%lay:section>
